header {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 13rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 200px;
}

.userLinks ul {
  position: absolute;
  top: 0;
  right: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 5rem;
  list-style: none;
}

.userLinks ul li {
  padding: 5px;
}

.nav {
  width: 100%;
  height: 50px;
  background-color: #1d2738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.nav_current {
  background-color: #030030;
  padding: 10px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
  opacity: .5;
  height: 2rem;
}

.nav_not_current {
  border: none #ff024e;
  padding: 10px;
  border-top-left-radius: 2px;
  border-bottom-right-radius: 2px;
}

.nav_ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.nav_ul li {
  padding: 15px;
  font-size: 20px;
}

.nav_ul .nav_link {
  text-decoration: none;
  color: #eeca00e1;
}

.nav_ul .nav_link:hover {
  background-color: #030030;
}

.footer {
  width: 100%;
  height: 100px;
  background-color: #1d2738;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__icon {
  height: 40px;
  width: 40px;
}

.bottom_slideshow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bottom_slideshow .dots {
  color: #eeca00e1;
  height: 20px;
  width: 20px;
}

.bottom_slideshow .dots_current {
  background-image: radial-gradient(#eeca00e1 40%, #ff024e 20%);
}

.image {
  height: 500px;
  width: 100%;
}

.body {
  background-color: white;
  display: -ms-grid;
  display: grid;
}

.container-sign-up {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-sign-up {
  background-color: #d1b7234d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px 70px 50px 70px;
  -webkit-box-shadow: 2px 3px #030030;
          box-shadow: 2px 3px #030030;
  margin-top: 50px;
  margin-bottom: 80px;
}

.input-text {
  margin: 15px;
  color: #030030;
  font-size: 25px;
  height: 35px;
  border-radius: 10%;
}

.head {
  margin: 30px 0px 20px 0px;
  color: #030030;
  font-size: 65px;
}

.label {
  color: #030030;
  font-size: 25px;
}

.button {
  margin: 10px;
  color: #030030;
  font-size: 25px;
  background-color: white;
  padding: 25px;
  -webkit-box-shadow: 2px 3px #030030;
          box-shadow: 2px 3px #030030;
  border-radius: 10%;
}

.message {
  resize: none;
  margin: 25px;
  color: #030030;
  font-size: 25px;
  height: 105px;
  border-radius: 10%;
}

.container-three {
  padding: 100px;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: auto;
      grid-template-rows: auto;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.flex-box-index {
  margin: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.descrip {
  margin-top: 10px;
}

.index-image {
  height: 100px;
  width: 85px;
}

.grid-test {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
}

.flex-box-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px;
}

.text-test {
  margin-left: 10px;
  font-style: italic;
}

.index-image--test {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

* {
  padding: 0;
  margin: 0;
}

.container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (auto)[2];
      grid-template-rows: repeat(2, auto);
  overflow: hidden;
}

.bg-dullblue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  font-size: 20px;
  color: #030030;
  line-height: 35px;
  border: none;
}

.bg-lightblue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  font-size: 20px;
  color: #030030;
  line-height: 35px;
  border: none;
}

.header {
  font-size: 34px;
  text-align: center;
}

.course_image {
  height: 200px;
  width: 200px;
  border-top-left-radius: 45px;
  border-bottom-right-radius: 15px;
  border: solid 2px #030030;
  margin: 15px;
}

.course_link {
  text-decoration: none;
  color: black;
  border: none;
  padding: 10px;
  background-color: #eeca00e1;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  width: 80px;
  font-size: 15px;
  margin: 5px;
}

.body {
  display: -ms-grid;
  display: grid;
}
/*# sourceMappingURL=styles.css.map */