header{
    background-color: white;
    margin: 0;
    padding: 0;
    height: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo{
    padding: 15px;
    display: flex;
    align-items: center;
    height: 200px;
}

.userLinks ul{
    position:absolute;
    top:0;
    right:0;
    display: flex;
    flex-direction: row;
    height: 5rem;
    list-style: none;
        li{
            padding: 5px;
        }
}

.nav{
width:100%;
height:3rem;
background-color:$cyan;
display: flex;
flex-direction: row;
justify-content: flex-end;
padding-bottom: 12px;


    &_current{
        background-color: $darkpurple;
        padding: 10px;
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
        opacity: .5;
        height: 2rem;
    }

    &_not_current{
        border: none $lightpurple;
        padding: 10px;
        border-top-left-radius: 2px;
        border-bottom-right-radius: 2px;
    }


}

.nav_ul{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    list-style: none;

    li{
        margin-top: 30px;
        font-size: 4rem;
    
    }
        .nav_link{
        text-decoration: none;
        color: $lightyellow;

        &:hover{
            background-color: $darkpurple; 
        }
        
    }
    
}

.drop-down{
    position: absolute;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    background-color: $darkpurple;
    margin: 10px;
    padding: 0px 10px 10px 10px;
    color:$lightyellow;
    border: solid 3px $lightpurple;
    border-bottom-left-radius:15px;
    border-bottom-right-radius:15px;
    border-top-right-radius:15px;
}





