.slideshow{
    // display:grid;
    // grid-template-rows: 500px 50px;
    // grid-template-columns: 5% 90% 5%;
    // min-width: 100%;

}
// .arrow{
//     color:$lightyellow;
//     border: none;
//     font-size: 30px;
// }

.bottom_slideshow{
    display: flex;
    justify-content: center;
    align-items: center;

    .dots{
        color: $lightyellow;
        height:20px;
        width:20px;

        &_current{
            background-image: radial-gradient($lightyellow 40%, $lightpurple 20%);
        }
    }
}
.image{
    height:500px;
    width: 100%;
}